:root {
    --logo-color:#4D5AE5;
    --color-of-head-menu:#2E2F42;
    --color-of-contact-paragraf:#434455;
    --color-hero:#FFFFFF;
    --color-hover-focus-btn-footer:#F4F4FD;
    --btn-bc:#4D5AE5;
    --link-btn-bc-hover-focus:#404BBF;
   --btn-bc-nav-work:#E7E9FC;
   --btn-color-menu:#F4F4FD;
   --color-footer-paragraf:#E7E9FC;
   --footer-logo:#F4F4FD;
   /* fonts */
   --logo-font:Raleway,sans-serif;
   --text-font:Roboto ,sans-serif;
}


body{
    font-family:var(--text-font);
    font-size: 16px;
    letter-spacing: 0.02em;
    color:var(--color-of-contact-paragraf);
    background-color: var(--color-hero);
}
/* logo */
.nav-web{
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--color-of-head-menu);
    text-decoration:none;
    text-transform: uppercase;
}
.nav-studio{
color: var(--logo-color);
}
.nav-web:hover,.nav-web:focus{
    color: var(--link-btn-bc-hover-focus);
    text-decoration:none;
}
/* navigation */
.nav {
    
    font-weight: 500;
    text-decoration:none;
}
ul{
    list-style: none;
}
.main-menu{
    letter-spacing: 0.02em;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration:none;
    color: var(--color-of-head-menu);
    
}
.main-menu:hover,.main-menu:focus{
    
    color: var(--link-btn-bc-hover-focus);
    text-decoration:none;
}
/* contact us */
.my-inofo{

    color: var(--color-of-contact-paragraf);
    text-decoration: none;
}
.my-inofo:hover,.my-inofo:focus{
    color: var(--link-btn-bc-hover-focus);
}
.curent{
    color: var(--btn-bc);
}
/* hero paga */
.hero{
    background-color: var(--color-of-head-menu);
}
.hero-head{
    text-align: center;
    letter-spacing: 0.02em;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #FFFFFF;
}
.hero-button{
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-hero);
    background: var(--btn-bc);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}
.hero-button:hover{
    background-color: var(--link-btn-bc-hover-focus);
}
/* скрити елемент */
.about{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
/* about-company */
.about-company>h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: var(--color-of-head-menu);
}
.wtat-doing>h2{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-of-head-menu);
}
/* team of company */
.team{
    background-color: var(--color-hover-focus-btn-footer);
}
.team h2{
    font-weight: 700;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
color: var(--color-of-head-menu);
}
/* footer */
.footer-main{
    background-color: var(--color-of-head-menu);
    color: var(--color-footer-paragraf);
}
.footer-web{
    font-family: var(--logo-font);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: var(--footer-logo);
    text-decoration:none;
    text-transform: uppercase;
}
.footer-web:hover,.footer-web:focus{
    color: var(--link-btn-bc-hover-focus);
    text-decoration:none;
}
/* paga2 btn-menu */
.btn-menu{
    cursor: pointer;
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
text-transform: capitalize;
color: var(--logo-color);
background-color: var(--btn-color-menu);
border: 1px solid #E7E9FC;
border-radius: 4px;
}
.btn-menu:hover{
    background-color: var(--link-btn-bc-hover-focus);
    color: var(--btn-color-menu);
}
.header-portfolio h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: var(--color-of-head-menu);
letter-spacing: 0.02em;
text-transform: capitalize;

}
.header-portfolio p{
    color: var(--color-of-contact-paragraf);
font-size: 16px;
line-height: 1.2;
letter-spacing: 0.02em;
text-transform: capitalize;
}