body{
    width: 1440px;
    padding: 0;
    margin: 0;
   font-family:  Roboto, sans-serif;
   letter-spacing: 0.02em;
}
/* header */
header{
    width: 1440px;
    display: inline-block;
    background-color: #FFFFFF;
}
nav{
display: inline;

}
ul{
    list-style-type: none;
    display: inline-flex;
    margin-top: 24px;
}
.main-menu:hover,:focus{
    color:blue;
    text-decoration: underline;
    }
.nav-web{ 
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    color: #2E2F42;;
    text-decoration-line: none;
    margin-left: 156px;
    text-transform: uppercase;
}
.nav-studio{
    color: #4D5AE5;
    
}
nav .main-menu{
    color: #2E2F42;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    padding: 40px;
    
}
.my-inofo:hover,:focus{
    color:blue;
    text-decoration: underline;
}
.my-inofo{
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    text-decoration: none;
    margin-left: 32px;
    padding-left: 40px;
}
main{
    width: 1440px;
}
/* hero */
.hero{
    height:600px;
    background-color: #2E2F42;
}
.hero h1{
    position: absolute;
    color: #FFFFFF;
    font-family: 'Roboto';
font-weight: 700;
font-size: 56px;
line-height: 1.07;
display: block;
height: 120px;
width: 500px;
margin-left: 473px;
margin-right: 473px;
padding-top: 190px;
}
.hero-button{
    background: #4D5AE5;
    color: #FFFFFF;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
font-family: 'Roboto';
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 16px 32px;
gap: 10px;
position: absolute;
margin-top: 365px;
margin-left: 636px;
text-decoration: none;
}
.hero-button:hover,:focus{
   background-color:#404BBF;
    text-decoration: underline;
}
/* section abuot company*/
.about{
    display: none;
}
.company{
    text-align: left;
    width:1130px ;
    margin-left: 156px;
    margin-top: 120px;
}

.about-company{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #434455;
padding-left: 24px;
}
.company h3{
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
color: #2E2F42;}
/* section what are we doing */
.wtat-doing{
    height: 412px;
    margin-top: 120px;
    margin-left: 80px;
    text-align: center;
}
.wtat-doing .foto{
    margin-top: 72px;
    padding-left: 24px;
} 
/* section our team */
.team{ 
    text-align: center;
    margin-top: 120px;
    height: 730px;
    background-color: #F4F4FD;
}
.team h2{
    padding-top: 120px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    color: #2E2F42;
    text-transform: capitalize;
}
.team .foto{
padding-left: 24px;
box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
}
/* footer */
footer{
    background-color: #2E2F42;
    height: 310px;
}
.podval{
    padding-top:100px ;
    margin-left:156px ;
   width: 264px;
   height:110px ;
}
.podval a{
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
   text-decoration-line: none;
}
.podval p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #E7E9FC;
}
/* page2 projects */
.second-menu{
    text-align: center;
    padding-left: 20px;
}
.second-menu li{
    padding-left: 20px;
    letter-spacing: 0.04em;
}
.btn-menu:hover,:focus{
    color: #FFFFFF;
    background-color: #404BBF;
}
.btn-menu{
    font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #4D5AE5;;
background-color: #F4F4FD;
border: none;
text-transform: capitalize;
}
.my-work ul{
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin-left: 156px;
}
.my-work li{
    padding-left: 15px;
}
.my-work h2{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2; 
    color: #2E2F42;
}
.my-work p{
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #434455;
}